<div class="slides">
	<% @slide_images.each do |slide| %>
		<% if slide =~ /\.png/ %>
			<img id="<%= slide %>" src="<%= "/slides/#{@slides}-images/#{slide}" %>" style="float:left;width:160px;height:auto;margin:9px; border:3px SOLID #FFF;" onclick="toggleSlide(this)">
		<% end %>
	<% end %>
</div>

<div id="timeline">
	
</div>
<div id="timer-start">
	0:00
</div>
<div id="timer-end" class="">

</div>

<div id="video-window">
	<video src="/videos/<%= @video %>" autobuffer id="video" style="width:200px;height:auto;"/>
	<p id="seektime" style="margin-top:120px;">0:00</p>

</div>

<script>
video = document.getElementById('video');
var vid_duration = 0;
var mousemoveTimer;
var seekPosition;
var selectedSlide = undefined;

window.setInterval(function(t){
  if (video.readyState > 0) {
    var duration = $('#duration').get(0);
    vid_duration = Math.round(video.duration);
    vid_mins = parseInt(vid_duration / 60);
    vid_seconds = vid_duration %60 ;

    document.getElementById('timer-end').innerHTML = vid_mins + ":" + vid_seconds;
    clearInterval(t);

  }
},500);

$("#timeline").mousemove(function(e){

	cursorX = e.pageX - this.offsetLeft;
	seekPosition = (parseFloat(vid_duration) / $('#timeline').width())* cursorX;
	video.currentTime = seekPosition;
	$('#video-window').css('left',cursorX-100);
	$('#seektime').html(seekPosition);
	
});

$("#timeline").mouseup(function(e){
	if (selectSlide != undefined) {
		dropSlide();
	}
});

function toggleSlide(ele) {
	if (selectSlide != undefined) {
		selectSlide.style.border = '3px SOLID #FFFFFF'
}
	selectSlide = ele;
	ele.style.border = '3px SOLID #555';
}

function releaseSlide() {

	selectSlide = undefined;
}
</script>