// Place all the styles related to the slidecast controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#timeline {
	position:fixed;
	width:97%;
	bottom:20px;
	border:3px SOLID #555;
	border-radius:5px;
	height:30px;
}

#timer-start {
	position:fixed;
	bottom:60px;
	left:1.5%;
}

#timer-end {
		position:fixed;
	bottom:60px;
	right:1.5%;
}

#video-window {
	position:fixed;
	width:200px;
	padding:10px;
	height:140px;
	bottom:60px;
	left:100px;
	background-color:#888;
}